
*{
    padding:1px;
    margin:1px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

  body{
    color:white;
    background-color: black;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  .nav{
    color:cyan;
  }
  .nav1{
    color: red;
  }
  .nav2{
    color: black;
  }

  .NoB{
    color:cyan;
    text-align: center;
    display: center;

  }
  .Welcome{
    margin:5vh;
    text-align: center;
    display: center;
    color:#a4a4a4;
   
  }
  .mecpic{
    width: max-content 300px;
    width: min-content 50px;
    height: max-content 300px;
    height: min-content 50px;
  }
  .dropbtn {
    background-color: cyan;
    color: black;
    font-weight: 700;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #a4a4a4;
    min-width: 160px;
    z-index: 1;
    border-radius: 12px;
    font-weight: 600;
  }
  
  .dropdown-content a {
    color: rgb(235, 116, 203);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #41a044;
    box-shadow: 4px, 5px, 10px, 4px;
    transition: .6s;
  }
.image{
  width: 350px;
  border-radius: 20px;
  border: solid 1px;
  color:cyan;


}
.square
  {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: linear;
  }
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }
.h3prices{
  margin: 1vh;
  color: #a4a4a4;
  font-size: x-large;
  float: right;
  margin-right: 33px;

}
.h3w{
  color: #a4a4a4;
  position: relative;
}
.business{
  text-align: center;
  

}
.Order{
  color: #41a044;
  font-size: x-large;
  margin-top: -20px;
}
.li{
  color: cyan;
 font-size: x-large;
}
.aside{
  margin-right: 33px;
  padding: 20px;
  clear: both;
  float: right;

  margin-bottom: 30px;
  color:#ffffff;
}
.package{
color: #41a044;
font-weight: 700;
}
.h2order{
position: relative;
padding: 30px;
color:#a4a4a4;
}